#mainheading { background-color:#EFEFEF; }
#interchange { background-color:#FF00CC; }

#video { position:absolute; bottom:0; left:0; }
#video-local { z-index:2; position:absolute; bottom:10px; right:10px; }
#video-remote { z-index:1; }
